<a href="https://colab.research.google.com/github/tarangga/Coursera/blob/main/Coursera_Statistical_Analysis_using_Python_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from scipy import stats
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('scores.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [21]:
fm = df.query('gender=="female"')['math score']
m = df.query('gender=="male"')['math score']
fm.size, m.size

(518, 482)

In [22]:
def compute_tp(arr1, arr2):
  t, p = 0, 0
  mean1, mean2 = np.mean(arr1), np.mean(arr2)
  s1, s2 = np.std(arr1), np.std(arr2)

  var = (((arr1.size-1)*(s1**2) + (arr2.size-1)*(s2**2)))/(arr1.size + arr2.size-2)
  sp = np.sqrt(var)

  ste = sp * np.sqrt(1/arr1.size + 1/arr2.size)

  t = (mean1-mean2)/ste
  df = arr1.size + arr2.size - 2

  p = 2*(1 - stats.t.cdf(t, df))
  return t, p
compute_tp(m, fm)

(5.388622466450282, 8.859047007092613e-08)

In [25]:
def remove_outlier(arr):
  q3, q1 = np.percentile(arr, [75, 25])
  iqr = q3 - q1
  low = q1 - 1.5*iqr
  up = q3 + 1.5*iqr
  return arr[(arr>=low) & (arr<=up)]

In [27]:
m = remove_outlier(m)
fm = remove_outlier(fm)

compute_tp(m, fm)

(5.142350675301441, 3.269459232235761e-07)